.detail-tile-container {
    display: flex;
    align-items: space-between;
    justify-content: flex-start;
    position: relative;

    flex: 1;
    width: 100%;
    aspect-ratio: 7/8;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f5f5f5;
    overflow: hidden;
    transition: filter 0.2s ease;
}

@media (hover: hover) {
    .detail-tile-container:hover {
        filter: brightness(0.8);
    }
    
    .detail-tile-container:has(button.disabled):hover {
        filter: none;
    }
}

.detail-tile-container button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    flex: 1;
    width: 100%;
    height: 100%;
    padding: 12px 12px;

    color: var(--detail-tile-text-color, #000);
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
}

.detail-tile-container:has(button.disabled) {
    opacity: 0.5;
}

.detail-tile-container button.disabled {
    cursor: not-allowed;
}

.detail-tile-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
    width: 100%;
}

.detail-tile-top-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 4px;
    flex: 1;
}

.detail-tile-top-section.right {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 auto;
    height: 100%;
}

.detail-tile-middle {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    width: 100%;
}

.detail-tile-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    width: 100%;
}

.detail-tile-container-brand {
    color: var(--detail-tile-brand-color, #848484);
    font-size: 12px;
}

.detail-tile-container-category {
    color: var(--detail-tile-category-color, #999);
    font-size: 11px;
}

.detail-tile-container-product {
    color: var(--detail-tile-product-color, #000);
    font-size: 16px;
}

.detail-tile-container-price {
    color: var(--detail-tile-price-color, #000);
    font-size: 14px;
}

.detail-tile-top-section.right .hot {
    color: #FA4659;
    font-size: 16px;
}

.detail-tile-top-section.right .new {
    color: #00de5a;
    font-size: 16px;
}

.detail-tile-container img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}


@media (min-width: 768px) { 
    .detail-tile-container {
        aspect-ratio: 7/8;
    }

    .detail-tile-container-brand {
        font-size: 12px;
    }
    
    .detail-tile-container-category {
        font-size: 12px;
    }
    
    .detail-tile-container-product {
        font-size: 18px;
    }

    .detail-tile-container-price {
        font-size: 18px;
    }

    .detail-tile-container button{
        padding: 16px 16px;
        
        font-size: 16px;
    }

    .detail-tile-top-section.right .hot {
        font-size: 18px;
    }
    
    .detail-tile-top-section.right .new {
        font-size: 18px;
    }
}