.space-8px {
    height: 8px;
}

.space-16px {
    height: 16px;
}

.space-x-small {
    height: 4px;
}

.space-small {
    height: 8px;
}

.space-medium {
    height: 16px;
}

.space-large {
    height: 24px;
}

.space-x-large {
    height: 32px;
}

.space-xx-large {
    height: 48px;
}

.space-xxx-large {
    height: 64px;
}

@media (min-width: 768px) {
    .space-8px {
        height: 8px;
    }

    .space-16px {
        height: 16px;
    }

    .space-x-small {
        height: 8px;
    }

    .space-small {
        height: 16px;
    }

    .space-medium {
        height: 24px;
    }

    .space-large {
        height: 32px;
    }

    .space-x-large {
        height: 48px;
    }

    .space-xx-large {
        height: 64px;
    }

    .space-xxx-large {
        height: 80px;
    }
}