.account-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
}

.account-page-left-section {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.account-page-right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
}

.account-page-setting-mobile {
    display: block;
    width: 100%;
}

.account-page-setting-desktop {
    display: none;
}

.account-page-space {
    width: 100%;
    height: 8px;
}

.account-page-right-section > p {
    margin: 0;

    font-size: 12px;
    line-height: 1;
    font-weight: 400;
}

.account-page-right-section > h3 {
    gap: 4px;
    margin: 0;

    font-size: 16px;
    line-height: 1;
    font-weight: 600;
}

.account-page-right-section > h4 {
    margin: 0;

    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.account-page-subscription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    padding: 8px 0;
    box-sizing: border-box;
}

.account-page-subscription > p {
    margin: 0;

    font-size: 12px;
    line-height: 1;
    font-weight: 400;
}

.account-page-subscription-space {
    width: 100%;
    height: 12px;
}

.account-page-subscription-button {
    display: flex;
    
    gap: 16px;
}

.account-page-subscription-button button {
    padding: 0 4px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    color: #848484;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;
}

@media (hover: hover) {
    .account-page-subscription-button button:hover {
        background-color: #e9ecef;
    }
}

.account-page-subscription-button button.active {
    border-bottom: 2px solid #8cff20;
    color: #000;
}

.account-page-subscription-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 2px;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #E9EDF5;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.account-page-subscription-info-date {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.account-page-subscription-info img {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

.account-page-subscription-info > p {
    color: #000;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
}

.account-page-subscription-info > h3 {
    color: #000;
    font-size: 16px;
    line-height: 1;
}

.account-page-subscription-info > h4 {
    color: #999;
    font-size: 12px;
    line-height: 1;
}

@media (min-width: 768px) {
    .account-page {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .account-page-left-section {
        flex: 1;
        max-width: 480px;
    }

    .account-page-right-section {
        flex: 1;
        min-width: 0;
    }

    .account-page-space {
        width: 32px;
        height: 100%;
    }
    
    .account-page-divider {
        align-self: stretch;
        align-items: flex-start;
        flex-shrink: 0;

        width: 1px;
        height: auto;
        min-height: 200px;
        max-height: 456px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: #ddd;
    }

    .account-page-setting-mobile {
        display: none;
    }

    .account-page-setting-desktop {
        display: block;
    }

    .account-page-right-section > p {
        font-size: 12px;
    }
    
    .account-page-right-section > h3 {
        font-size: 20px;
    }
    
    .account-page-right-section > h4 {
        font-size: 14px;
    }

    .account-page-subscription {
        padding: 0;
    }

    .account-page-subscription-space {
        height: 16px;
    }

    .account-page-subscription > p {
        font-size: 14px;
    }

    .account-page-subscription-button {
        gap: 24px;
    }

    .account-page-subscription-info > h3 {
        font-size: 18px;
    }
}