.footer {
    display: flex;
    flex-direction: column;
    
    background-color: #f5f5f5;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    padding: 24px 12px;
    box-sizing: border-box;

    color: #848484;
    font-size: 12px;
}

.footer-container p {
    padding: 0;
    margin: 0;
}

.footer-container nav {
    display: flex;

    gap: 16px;
}

.footer-container nav a {
    transition: color 0.2s ease;

    color: #848484;
    text-decoration: none;
}

.footer-container nav a:hover {
    color: #333333;
    text-decoration: underline;
}

.footer-logo-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    height: 24px;
}

.footer-logo-container .logo {
    object-fit: contain;
    object-position: left;

    width: auto;
    height: 100%;
}

.footer-spacer {
    height: 16px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    width: 100%;
}

@media (min-width: 768px) {
    .footer-container {
        max-width: 1440px;
        padding: 24px 24px;
        margin: 0 auto;
    }

    .footer-logo-container {
        height: 24px;
    }
}