.coupon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 12px;
}

.coupon-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 8px 8px;
    box-sizing: border-box;
    border: 0.2px solid #c2c2c2;
    border-radius: 4px;
}

.coupon-space {
    height: 16px;
}

.coupon-space-small {
    height: 4px;
}

.coupon-container h3 {
    margin: 0;

    color: #000;
    font-size: 16px;
    line-height: 1;
}

.coupon-container p {
    margin: 0;

    color: #848484;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
}

.coupon-divider {
    align-self: center;

    height: 1px;
    width: 90%;
    background-color: #d9d9d9;
}

.coupon-container input {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 0.2px solid #c2c2c2;
    border-radius: 4px;
    background-color: transparent;
    outline: none;

    color: #000;
    font-size: 16px;
}

.coupon-input-valid {
    background-color: #f9f9f9;
    cursor: not-allowed;

    color: #666;
}

.coupon-input:-webkit-autofill,
.coupon-input:-webkit-autofill:hover,
.coupon-input:-webkit-autofill:focus,
.coupon-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
    background-color: white !important;
}

.coupon-container button {
    width: 100%;
    height: 48px;
    margin: 4px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #000;

    color: #fff;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.coupon-button.invalid {
    background-color: #c2c2c2;
    cursor: not-allowed;

    color: #fff;
}

.coupon-button.valid {
    background-color: #000;
    
    color: #fff;
}

.coupon-button.valid:hover:not(:disabled) {
    background-color: #333;
}

.coupon-button:disabled {
    background-color: #c2c2c2;
    cursor: not-allowed;
}

.coupon table {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;

    width: 100%;
}

.coupon tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;

    color: #000;
}

.coupon th {
    flex: 1;
    padding: 8px 0;

    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}

.coupon td {
    flex: 1;
    text-align: center;
    padding: 8px 0;

    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

@media (min-width: 768px) {
    .coupon {
        gap: 24px;
    }

    .coupon-container {
        max-width: 480px;
        padding: 16px 16px;
        margin: 0 auto;
        border-radius: 4px;
    }

    .coupon-space {
        height: 16px;
    }

    .coupon-space-small {
        height: 8px;
    }

    .coupon-progress-container {
        margin: 8px 0;
    }

    .coupon-container h3 {
        font-size: 16px;
    }

    .coupon-container p {
        font-size: 12px;
    }

    .coupon-container input {
        height: 60px;
        margin: 8px 0;
    }

    .coupon-container button {
        height: 60px;
        margin: 8px 0;

        font-size: 16px;
    }

    .coupon th {
        padding: 8px 0;

        font-size: 12px;
    }

    .coupon td {
        padding: 8px 0;

        font-size: 12px;
    }
}